$primary: #03a9f4;

$danger: #ff3614;

$white: #fff;
$gray: #999;
$gray-dark: #666;

$font-weight-bold: 700;

$body-font-family: Quicksand;
$body-font-weight: 300;
$body-font-size: 18px;

$header-font-weight: $font-weight-bold;

$h1-font-size: 42px;
$h2-font-size: 32px;
