@import '~averi-style/src/vars.styl'

$font-body = "Nunito Sans", sans-serif
$font-title = "Nunito Sans", sans-serif

$highlight = #6fbeed
$highlight-light = lighten($highlight, 5%)
$highlight-bright = lighten($highlight, 10%)
$highlight-dark = darken($highlight, 20%)
$highlight-black = darken($highlight, 40%)

$background-control = linear-gradient(to right, darken($highlight, 10%), lighten($highlight, 10%))
