$primary = #03A9F4

$background-btn-primary = linear-gradient(to right, mix($primary, black, 95%), mix($primary, white, 80%))
$background-btn-primary-hover = linear-gradient(to right, mix($primary, white, 85%), mix($primary, white, 85%))
$background-btn-primary-active = linear-gradient(to right, mix($primary, black, 85%), mix($primary, black, 85%))

$bg-grad = linear-gradient(to right, #50c9ff, #fff46c)

@import '~averi-style/src/vars.styl'
